<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Login Page</title>
  
</head>
<body>
  <img src="../../../assets/logo2.png" class="logo" id="poza">
  <div class="container">
    <h1>Register</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" >
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" formControlName="name"  required>

            <span *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="error-message">
            <span *ngIf="formGroup.get('name')?.errors?.['required']">
              Please enter your first name.
            </span>
            <span *ngIf="formGroup.get('name')?.errors?.['minlength']">
              The first name must be longer than 3 characters.
            </span>
            </span>

          </div>

      <div class="form-group">
        <label for="email">E-mail*</label>
        <input type="email" id="email" name="email"formControlName="email" required>

        <span *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" class="error-message">
          <span *ngIf="formGroup.get('email')?.errors?.['required']">Please enter your email address.</span>
          <span *ngIf="formGroup.get('email')?.errors?.['email']">Please enter a valid email address.</span>
        </span>
        
      </div>
      <div class="form-group">
        <label for="password">Password*</label>
        <input type="password" id="password" name="password" formControlName="password" required>
        <span *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched" class="error-message">
          <span *ngIf="formGroup.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="formGroup.get('password')?.errors?.['pattern']">Password must contain at least 8 characters, one uppercase letter, one lowercase letter, and one digit.</span>
        </span>
        
      </div>
      <div class="form-group">
        <label for="confirm">Confirm password*</label>
        <input type="password" id="password" name="password" formControlName="confirm"  required>
        <span *ngIf="formGroup.get('confirm')?.invalid && formGroup.get('confirm')?.touched" class="error-message">
        </span>
      </div>
      <span *ngIf="formGroup.errors?.['passwordMatchError']" class="error-message">
        Passwords does not match
      </span>
      <div class="form-group">
        <button type="submit" [disabled]="formGroup.invalid" [ngStyle]="{'background-color': formGroup.invalid ? '#829b6d' : '#485F35'}"> Create account</button>
      </div>
    </form>
    <!-- login.component.html -->
<div class="register-link">
  Already have an account? <a routerLink="/auth/login">Login</a>
  
</div>

  </div>
</body>
</html>