.imagine-stilizata {
    width: 1000px; /* Modifică dimensiunea imaginii la lățimea dorită */
    height: auto; /* Asigură-te că aspect ratio (raportul de aspect) se păstrează */
    position: absolute; /* Setează poziționarea absolută */
    top: 150px; /* Poziționează imaginea la 50px de partea de sus a elementului părinte */
     /* Poziționează imaginea la 50px de partea stângă a elementului părinte */
    /* Alte stilizări, dacă dorești */
    left: 450px;
    
  }
  