body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    border: 1px  rgb(238, 230, 230);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-left:200px;
    transform: scale(1.3);
  }
  
  h1 {
    color: var(--day-text-icons-text-01, rgba(27, 31, 59, 0.80));
    text-align: center;
  }
  
  #poza{
    margin-left:-250px;
  }

  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  [type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #485F35;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #485F35;
  }

  input {
    box-sizing: border-box;
  }
  
  input {
    margin-bottom: 15px; /* Mărește distanța dintre input-uri */
  }
  

 
  